.hidden {
  height: 0;
  width: 0;
  top: -999px;
  left: 0;
  overflow: hidden;
  position: absolute;
}

.primary-color {
  color: var(--primary-color);
}

.place-items-center {
  place-items: center;
}

.navigation-wrapper {
  max-width: 70vw;
  overflow-x: scroll;
}

.border-black {
  border: 1px solid var(--black);
}

.center {
  display:grid;
  place-items: center;
}

/* Using important as this class is meant to override display property to none, if present */
.display-none {
  display: none !important;
}
