/*****************************/
/************ Table of Content *****************/
/*
1. Headings
2. Paragraphs
3. Font sizing utilities
4. Font weight utilities
5. Text color utilities
6. Text decoration utilities
7. Text transformation utilities
8. Text alignment utilities
*/
/*****************************/

/************ Headings *****************/

h1,
h2,
h3,
h4,
h5,
h6,
.h6,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  margin: 0.625rem 0;
  font-weight: bold;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.875rem;
}

/************ Paragraphs *****************/

p {
  line-height: 1.5;
  margin: 0.625rem 0;
}

p,
.text-rg {
  font-size: 1rem;
  margin: 1rem 0;
}

/************ Font sizing utilities *****************/

.text-lg {
  font-size: 1.875rem;
}

.text-md {
  font-size: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
}

/************ Font weight utilities *****************/

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

/************ Text color utilities *****************/

.text-white {
  color: var(--white);
}

.text-gray {
  color: var(--dark-gray);
}

.text-light-gray {
  color: var(--gray);
}

/************ Text decoration utilities *****************/

.text-strike-through {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

/************ Text transformation utilities *****************/

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

/************ Text alignment utilities *****************/

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/************ Media Queries for responsive font-sizes ************/

@media screen and (min-width: 769px) {
  h1,
  .h1 {
    font-size: 3rem;
  }

  h2,
  .h2 {
    font-size: 2rem;
  }

  h3,
  .h3 {
    font-size: 1.75rem;
  }

  h4,
  .h4 {
    font-size: 1.5rem;
  }

  h5,
  .h5 {
    font-size: 1.25rem;
  }

  h6,
  .h6 {
    font-size: 1rem;
  }
}
